.slide {
    text-align: left;
    margin-left: 15v;
    font-size: 1.5em;
}

.slide h3 {
    font-size: 2em;
}

.slide h4 {
    font-size: 1.75em;
}

.slide h5 {
    font-size: 1.5em;
}

.slide img {
    float: right;
}


h1.title {
    text-align: center;
    font-size: 3.5em;
}

.slide.title {
    text-align: center;
    margin-top: 33vh;
    height: 33vh;
    font-size: 1.5em;
}